body {
    color: azure;
    background-color: rgb(26, 11, 24);
    margin: 0;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
}

span {
    text-decoration: underline;
}

h1 {
    color: #66BFBF;
    margin-top: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 90px;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
}

.top-container {
    background-color: rgb(46, 45, 43);
    padding-top: 100px;
    position: relative;
}

.middle-container {
    background-color: rgb(29, 1, 25);
    margin-top: 50px;
}

.profile {
    width: 100%;
    background-color: rgb(29, 27, 22);
}

.skills {
    padding: 20px 0px;
    background-color: rgb(73, 71, 65);
}

.top-cloud {
    position: absolute;
    right: 200px;
    top: 100px;
    filter: hue-rotate(270deg);
}

.bottom-cloud {
    position: absolute;
    bottom: 300px;
    left: 200px;
}

.mountain {
    filter: hue-rotate(180deg);
    margin: 0px auto -5px auto;
}

.myImage {
    border-radius: 100px;
    height: 150px;
    width: 150px;
    margin-top: 50px;
}

.htmlImage {
    width: 25%;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
    filter: saturate(2.5);
    filter: hue-rotate(200deg);
}

.bikeImage {
    float: right;
    margin-left: 30px;
    width: 25%;
    border-radius: 50%;
    height: 25%;
}

.footer-link {
    color: #11999E;
}

.skill-row {
    width: 50%;
    margin: 50px auto 50px auto;
    text-align: left;
}

p {
    line-height: 2;
}

hr {
    border: 6px dotted #eaf6ea;
    border-bottom: none;
    width: 6%;
    margin: 50px auto;
}

.intro {
    width: 30%;
    margin: 50px auto;
}

.contact-message {
    width: 30%;
    margin: 50px auto 50px;
}

.btn {
    background: #3DD3F6;
    background-image: -webkit-linear-gradient(top, #3DD3F6, #1E85D0);
    background-image: -moz-linear-gradient(top, #3DD3F6, #1E85D0);
    background-image: -ms-linear-gradient(top, #3DD3F6, #1E85D0);
    background-image: -o-linear-gradient(top, #3DD3F6, #1E85D0);
    background-image: linear-gradient(to bottom, #3DD3F6, #1E85D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    width: 150px;
    height: 15px;
    margin: 50px auto;
    border-radius: 20px;
    color: rgb(236, 245, 229);
    font-size: 10px;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 100;
    padding: 10px;
    /*box-shadow: 1px 1px 10px 0px #000000;
    -webkit-box-shadow: 1px 1px 20px 0px #000000;
    -moz-box-shadow: 1px 1px 20px 0px #000000;*/
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.btn:hover {
    border: solid #33ED50 1px;
    background: #4FD6C9;
    background-image: -webkit-linear-gradient(top, #4FD6C9, #3DF6BF);
    background-image: -moz-linear-gradient(top, #4FD6C9, #3DF6BF);
    background-image: -ms-linear-gradient(top, #4FD6C9, #3DF6BF);
    background-image: -o-linear-gradient(top, #4FD6C9, #3DF6BF);
    background-image: linear-gradient(to bottom, #4FD6C9, #3DF6BF);
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    text-decoration: none;
}

.contact-me {
    height: 400px;
    margin: 50px auto;
    background-color: rgb(48, 47, 44);
    padding: 20px 0px;
}

.bottom-container {
    background-color: rgb(27, 33, 34);
    padding: 30px 0 20px;
}

a {
    font-family: 'Merriweather Sans', sans-serif;
    text-decoration: none;
    margin: 0px 10px 0px 10px;
}

a:hover {
    color: azure;
}

.copyright {
    color: azure;
    font-size: 12px;
    padding-bottom: 0px;
}